@media (max-width: 1024px){
    section .container-main div{
        margin: auto;
    }
    section .container-main img{
        display: none;
    }

    .container-main h2{
        text-align: center;
        font-size: 40px;
    }
    .container-main h3{
        text-align: center;
        font-size: 18px;

    }
    .form1{
        display: flex;
        align-items: center;
        width: 100%;
        text-align: center;
        flex-direction: column;
    }
    .form1 input{
        margin: 12px;
    }
    .form1 [type="submit"] {
        width: 380px;
    }
    .container{
        padding: 0px 20px;
    }

    .form-container{
        display: block;
        height: auto;
        text-align: center;
        border-radius: 0;
    }
    .form-contents{
        height: auto;
        align-items: center;
        width: 100%;
        
    }
    .form-contents h2{
        text-align: center;
        margin: 0px;
        line-height: 35px;
    }
    
    .form2 input{
        margin-top: 0px;
    }
    .form2 [type="submit"]{
        width: 500px;
    }
    
    .contact{
        margin-left: auto;
        margin-right: auto;
        width:auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .img{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .line{
        display: none;
    }

    .icon-home{
        margin-top: -20px;
    }

    footer a{
        display: none;
    }
}


@media (max-width: 790px) {
    .newsletter {
        padding-top: 30px;
    }
    .container-main h2{
        font-size: 38px;
    }
    .container-main h3{
        width: 95%;
        font-size: 16px;
    }

    .form1 input,
    .form1 [type="submit"] {
        width: 74%;
    }

    .menu-button-container {
        display: flex
    }

    .menu {
        position: absolute;
        margin-top: 30px;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
        left: 100%;
        transform: translateX(100vw);
        transition: 0.5s ease transform;
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0px;
        width: 100%;
        color: white;
        background-color: #2EC4B6;
        border-radius: 5px;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid white;
    }

    .menu li a {
        flex: 1;
        text-align: center;
    }

    section .container-menu img{
        display: none;
    }

    label{
        cursor: pointer;
        position: relative;
        display: block;
        height: 22px;
        width: 30px;
    }

    label span{
        position: absolute;
        display: block;
        height: 5px;
        width: 100%;
        background: white;
        border-radius: 30px;
        transition: 0.25s ease-in-out;
    }

    label span:nth-child(1){
        top: 0;
    }
    label span:nth-child(2){
        top: 8px;
    }
    label span:nth-child(3){
        top: 16px;
    }

    #checkbox-menu:checked + label span:nth-child(1){
        transform: rotate(-45deg);
        top: 8px
    }
    #checkbox-menu:checked + label span:nth-child(2){
        opacity: 0;
    }
    #checkbox-menu:checked + label span:nth-child(3){
        transform: rotate(45deg);
        top: 8px
    }

    nav.menu{
        width: 100%;
    }

    #checkbox-menu:checked~nav .menu {
        transform: translateX(-100vw);
        transition: 0.5s ease transform;
    }   

    .form-container{
        padding-top: 16px;
    }
    .form2 input,
    .form2 textarea,
    .form2 [type="submit"] {
        width: 95%;
    }
    .form-contents h2{
        font-size: 28px;
    }
    .form-contents p{
        font-size: 14px;
    }
    
    .contact h3{
        font-size: 18px;
        
    }
    .contact img{
        width: 35px;
    }

    footer p .dev{
        font-size: 12px;
    }

    footer p{
        font-size: 12px;
    }

    html, body{
        overflow-x: hidden;
    }
}
